body {
    font-family: "Crimson Text","Time News Roman", serif;
    background-color:  rgb(171, 166, 179);
    font-size: 120%;
}

h1 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-align: center;
    background-color: hsl(268, 8%, 44%);
    color: rgb(250, 252, 253);
}

p {
    text-align: center;
}

img{
    width: 700px;
    height: 350px;
}

blockquote p{ 
   text-align: left;
}

blockquote{
    background-color: rgb(139, 137, 143);
    width: 1200px;
    height: 80px;
}

article p {
    text-align: justify;
    
}

h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-align: center;
    background-color:  hsl(268, 8%, 44%);
    color: azure;
}