<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mouse.css">

</head>

<body>

    <div class="cursor"></div> 

    <header>
        <nav class=" container-navegacao">

            <div class="item-menu-home">
                <ul>
                    <li><a class="links" href="./home.html"> Vanessa </a></li>
                </ul>
            </div>

            <div class="item-menu">
                <div class="itens-menu">
                    <ul>
                        <li><a class="links" href="../index.html">Portfólio</a></li>
                    </ul>
                </div>

                <div class="itens-menu">
                    <ul>
                        <li><a class="links" href="./sobre.html">Sobre</a></li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <main>
        <div class="container-conteudo">
            <div class="itens">
                <h1 class="titulo-card">Contas a Pagar</h1>

                <h2 class="subtitulo">Projeto desenvolvido na disciplina de Laboratório de Engenharia de Software.</h2>

                <p class="conteudo">Neste projeto foram desenvolvidas habilidades relacionadas à:

                <ul class="conteudo">
                    <li>Documento de visão</li>
                    <li>Especificação de requisitos</li>
                    <li>Casos de uso de baixo nível</li>
                    <li>Casos de uso de alto nível</li>
                    <li>Diagrama de classes</li>
                    <li>DER</li>
                    <li>Diagrama de Sequência</li>
                    <li>Diagrama de Atividades</li>
                    <li>Desenvolvimento em Angular</li>
                </ul>

                <p class="conteudo">Desenvolvido em 2020.</p>

                <p><a class="links" href="https://github.com/VanessaOl/les-projeto-contas-a-pagar" target="_blank">GitHub</a></p>
            </div>
        </div>
    </main>

    <script src="../script/app.js"></script>

    <footer>
        <p class="copyright">&COPY; 2020 Vanessa Oliveira </p>
    </footer>

</body>

</html>