<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio PWEB Vanessa Oliveira Vieira</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mouse.css">
</head>

<body>

    <div class="cursor"></div> 

    <header>
        <nav class=" container-navegacao">

            <div class="item-menu-home">
                <ul>
                    <li><a class="links" href="../views/home.html"> Vanessa</a></li>
                </ul>
            </div>

            <div class="item-menu">
                <div class="itens-menu">
                    <ul>
                        <li><a class="links" href="../index.html">Portfólio</a></li>
                    </ul>
                </div>

                <div class="itens-menu">
                    <ul>
                        <li><a class="links" href="../views/sobre.html">Sobre</a></li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <main>

        <div>
            <p class="topo">
                Programação para Web - Tecnologia em Análise e Desenvolvimento de Sistemas - Faculdade de Tecnologia de
                Sorocaba
            </p>
        </div>

        <section >

            <div class="nome-titulo"> 
                <h1>Vanessa Oliveira</h1>
    
            </div> 

            <div class="subtitulo-home">
                <h2 >Estudante, Otaku, Apaixonada por Engenharia de Software e Gatos</h2>
            </div>

        </section> 

        <section  class="contato">
            <div class="itens-contato">
                <p><a class="links" href="https://github.com/VanessaOl" target="_blank">GitHub</a></p>
            </div>

            <div class="itens-contato">
                <p><a class="links" href="https://br.linkedin.com/" target="_blank">Linkedin</a></p>
            </div>

        </section>

    </main>

    <script src="../script/app.js"></script>

    <footer>
        <p class="copyright"> &COPY; 2020 Vanessa Oliveira </p>
    </footer>


   

</body>
</html>