<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio PWEB Vanessa Oliveira Vieira</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mouse.css">
   
   
</head>

<body>

    <div class="cursor"></div> 

    <header>
        <nav class=" container-navegacao">

            <div class="item-menu-home">
                <ul>
                    <li><a class="links" href="../views/home.html"> Vanessa</a></li>
                </ul>
            </div>

            <div class="item-menu">
                <div class="itens-menu">
                    <ul>
                        <li><a class="links" href="../index.html">Portfólio</a></li>
                    </ul>
                </div>

                <div class="itens-menu">
                    <ul>
                        <li><a class="links" href="../views/sobre.html">Sobre</a></li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <main>
        <div>
            <p class="topo">
                Programação para Web - Tecnologia em Análise e Desenvolvimento de Sistemas - Faculdade de Tecnologia de
                Sorocaba
            </p>
        </div>

        <div class="titulos">

            <h1 class="titulo-principal">Timeline</h1>

        </div>

        <section class="container-linha"> 
            <div class="item-linha">
                <div class="itens-linha">
                   <p> Antes de TI eu fazia o curso de Sistemas Biomédicos e não me adaptei ao curso, mas mesmo assim fiz 3
                        semestres (Fiz Cálculo I, II, III 🔥) até decidir prestar vestibular para ADS.
                    </p>
                </div>
    
                <div class="itens-linha">
                    <div class="ano ano-1">
                        <p class="ano-linha" >2014</p>
                    </div>
                </div>
    
            </div>
    
            <div class="item-linha">
                <div class="itens-linha">
                    <div class=" ano ano-2">
                        <p class="ano-linha">2017</p>
                    </div>
                </div>
    
                <div class="itens-linha">
                    <p>
                        Entrei no curso sem saber nada (nada mesmo) sobre programação, mas apesar de ter algumas
                        dificuldades com a Linguagem C (C não é legal 💣), fui bem em outras matérias. As matérias que
                        tive melhor desempenho foi em Engenharia de Software I e II, inclusive acabei
                        tirando nota dez em uma prova.
                    </p>
                </div>
    
            </div>
    
            <div class="item-linha">
                <div class="itens-linha">
                    <p>
                        Atualmente estou estudando sobre Clean Architecture e DDD(Design orientado a domínio) 💛 e refazendo outros projetos com essa arquitetura.
                    </p>
                </div>
    
                <div class="itens-linha">
                    <div class="ano ano-1">
                        <p class="ano-linha">2020</p>
                    </div>
                </div>
    
            </div>
    
            <div class="item-linha">
                <div class="itens-linha">
                    <div class=" ano ano-2">
                        <p class="ano-linha">2022</p>
                    </div>
                </div>
    
                <div class="itens-linha">
                    <p>
                        Futuramente pretendo cursar uma pós-graduação em Engenharia de Software 📚 e trabalhar como Software engineer ou em alguma área relacionada.
                    </p>
                </div>
    
            </div>
    
        </section>

    </main>

    <script src="../script/app.js"></script>

    <footer>
        <p class="copyright">&COPY; 2020 Vanessa Oliveira </p>
    </footer>

</body>

</html>